body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0%;
}
#h1 {
    height: 80px;
    background-color: #59b5e2;
    color: #fff;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    border-bottom: 3px solid rgb(35, 59, 139);
}
.profile {
    width: 300px;
    border-radius: 50%; 
    margin: 10% 10% 10% 10%;
    
}
ul {
    padding-top: 10px;
    padding-bottom: 10px;
    }
ul li {
    padding-top:5px;
    
}
button {
    margin-top: 10px;
    padding: 5px;
}
.form {
    text-align: center;
}
input {
    width: 300px;
    border: 2px solid rgb(51, 177, 93);
    border-radius: 5px;
    box-shadow: 0 10px 10px #adc599;
    padding: 10px 0 10px 10px;
    margin: 10px 0;
}
textarea {
    border: 2px solid rgb(51, 177, 93);
    border-radius: 5px;
    box-shadow: 0 10px 10px #adc599;
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    padding: 10px 10px;
    }
#intro {
    width: 300px;
    padding: 10px;
}
.link {
    align-items: center;
    background-color:#a1d378;
    color: rgb(255, 255, 255);
    padding: 14px 25px;
    text-align: center;
    display: block;
    height: 20px;
    width: 200px;
    font-family: Helvetica;
    font-weight: bold;
    border-radius: 50px 15px 50px 15px;
    border: 2px solid rgb(51, 177, 93);
    box-shadow: 0 10px 10px #adc599;
    margin-top: 20px;
}
.container {
    display: grid;
    grid-template-areas: 
        "photo item1"
        "photo item2"
        "photo item3";
    gap: 5px 40px;
    width: 100%;
}
.photo {
    grid-area: photo;
}
.item-1 {
    grid-area: item1;
}
.item-2 {
    grid-area: item2;
}
.item-3 {
    grid-area: item3;
}
.title {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #59b5e2;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.titleli {
    font-weight: bold;
    background-color: rgb(148, 206, 206);
    padding: 1%;
    border-top: 3px solid rgb(60, 110, 110);
    margin: 0%;
}
.list {
    text-align: justify;
    background-color: rgb(248, 248, 248);
}
.contacto {
    text-align: right;
    width: 80%;
    display: block;
    padding: 10px 50px 10px 0;
    font-weight: bold;
    resize: none;
}
.inicio {
    text-align: right;
    display: inline-block;
}
.row2 {
    background-color: #59b5e2;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid rgb(35, 59, 139);
}
.one {
    width: 100%;
    text-align: left;
    padding-left: 10%;
}
.two {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    background-color: #59b5e2;
    font-weight: bold;
    padding: 10px;
}
.linkedin {
    width: 30px;
    height: 30px;
    }
.foot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    color:rgb(66, 64, 70);
    padding: 2% 0% 2% 0%;
    background-color: lightgray;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 3px solid black;
    margin: 0%;
}
.foot1 {
    padding-left: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}
.foot2 {
    text-align: right;
    padding-right: 10px;
    width: 100%;
}
footer {
    color:rgb(66, 64, 70);
    padding: 2% 0% 2% 0%;
    background-color: lightgray;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 3px solid black;
    margin: 0%;
    
}


